@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My App</h1>
    <h2>Day: 04/01/2024 - 9h31 AM</h2>
    <h2>Deploy To IIS Successfully</h2>
    <h2>Time: 09:54 AM -> 10:01 AM</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
